.app-container {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
}
/*
.main-content {
    margin-left: 250px;    // SO SIDEBAR AND MAIN CONTENT DOESNT COLLIDE
}
*/
body {
    background-color: rgb(196, 196, 196);
    font-size: larger;

}

html {
    height: 100%;   
}