.sidebar {
  bottom: 100%;
  width: 200px;
  background-color: rgb(154, 154, 154);
  height: 100%;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.sidebar-header {
  border-bottom: 2px solid black;
  margin-bottom: 60px;
}

.sidebar h2 {
  color: #2e2e2e;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.sidebar li {
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
}

.sidebar li:hover {
  background-color: #b9b9b9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.label {
  color: #202020;
}
